invIndex*
opttest
primaryBTree*
target
.classpath
.settings
.project
ClusterControllerService
rttest
mdtest
ittest
asterix_logs
build
*-coredump
*.pyc
*.iml
.idea
*.ipr
*.iws
git.properties
actual
exception
expected
teststore1
teststore2
dev1
dev2
dev3
dev4
derby.log
hadoop-conf-tmp
metastore_db
teststore
output
tmp
dist
*~
.DS_Store
*.swp
.m2*
ß
/target/
/target/
/target/
